fluxo_aquajardimV1.json
[
  {
    "id": "tab_aquajardim",
    "type": "tab",
    "label": "AquaJardim CCNE",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ui_group_solo",
    "type": "ui_group",
    "name": "Solo",
    "tab": "ui_tab_main",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_reservatorio",
    "type": "ui_group",
    "name": "Reservatório",
    "tab": "ui_tab_main",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_bomba",
    "type": "ui_group",
    "name": "Bomba d'Água",
    "tab": "ui_tab_main",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_historico",
    "type": "ui_group",
    "name": "Histórico",
    "tab": "ui_tab_main",
    "order": 4,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_tab_main",
    "type": "ui_tab",
    "name": "AquaJardim CCNE",
    "icon": "fa-leaf",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "inject_simulacao",
    "type": "inject",
    "z": "tab_aquajardim",
    "name": "Simular dados (3s)",
    "props": [{"p": "payload"}],
    "repeat": "3",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 80,
    "wires": [["func_gerar_dados"]]
  },
  {
    "id": "func_gerar_dados",
    "type": "function",
    "z": "tab_aquajardim",
    "name": "Gerar dados simulados",
    "func": "// Simula variação realista de umidade e nível do reservatório\nvar ctx = context.get('estado') || {\n    umidade: 55,\n    nivel: 80,\n    acionamentos: 0,\n    totalGasto: 0,\n    bombaLigada: false\n};\n\n// Umidade cai lentamente (evapotranspiração)\nctx.umidade -= (Math.random() * 0.8);\nif (ctx.umidade < 20) ctx.umidade = 20;\n\n// Se umidade baixa, liga bomba\nif (ctx.umidade < 35 && !ctx.bombaLigada && ctx.nivel > 5) {\n    ctx.bombaLigada = true;\n    ctx.acionamentos += 1;\n}\n\n// Bomba irriga e aumenta umidade\nif (ctx.bombaLigada) {\n    ctx.umidade += 2.5;\n    ctx.nivel -= 0.3;  // gasta água do reservatório\n    ctx.totalGasto += 0.3;\n    if (ctx.umidade >= 70 || ctx.nivel <= 2) {\n        ctx.bombaLigada = false;\n    }\n}\n\n// Chuva aleatória (5% chance de recarregar)\nif (Math.random() < 0.05) {\n    ctx.nivel = Math.min(100, ctx.nivel + 15);\n}\n\nctx.umidade = Math.round(ctx.umidade * 10) / 10;\nctx.nivel = Math.round(ctx.nivel * 10) / 10;\n\ncontext.set('estado', ctx);\n\nvar litrosDisponiveis = (ctx.nivel / 100 * 100).toFixed(1);\nvar litrosGastos = ctx.totalGasto.toFixed(1);\n\nmsg.umidade = ctx.umidade;\nmsg.nivel = ctx.nivel;\nmsg.acionamentos = ctx.acionamentos;\nmsg.litrosDisponiveis = parseFloat(litrosDisponiveis);\nmsg.litrosGastos = parseFloat(litrosGastos);\nmsg.bomba = ctx.bombaLigada ? 'LIGADA 💧' : 'DESLIGADA';\nmsg.statusCor = ctx.umidade < 35 ? 'red' : ctx.umidade < 55 ? 'yellow' : 'green';\nmsg.alerta = ctx.nivel < 10 ? '⚠️ Nível crítico de água!' : (ctx.umidade < 25 ? '⚠️ Solo muito seco!' : '✅ Sistema normal');\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 80,
    "wires": [["gauge_umidade", "gauge_nivel", "text_bomba", "text_acionamentos", "text_disponiveis", "text_gastos", "chart_umidade", "text_alerta"]]
  },
  {
    "id": "gauge_umidade",
    "type": "ui_gauge",
    "z": "tab_aquajardim",
    "name": "Umidade do Solo",
    "group": "ui_group_solo",
    "order": 1,
    "width": "6",
    "height": "4",
    "gtype": "gage",
    "title": "Umidade do Solo",
    "label": "%",
    "format": "{{msg.umidade}}",
    "min": "0",
    "max": "100",
    "colors": ["#d32f2f", "#f9a825", "#2e7d32"],
    "seg1": "35",
    "seg2": "60",
    "x": 680,
    "y": 40,
    "wires": []
  },
  {
    "id": "gauge_nivel",
    "type": "ui_gauge",
    "z": "tab_aquajardim",
    "name": "Nível do Reservatório",
    "group": "ui_group_reservatorio",
    "order": 1,
    "width": "6",
    "height": "4",
    "gtype": "donut",
    "title": "Reservatório (100L)",
    "label": "%",
    "format": "{{msg.nivel}}%\n{{msg.litrosDisponiveis}}L",
    "min": "0",
    "max": "100",
    "colors": ["#d32f2f", "#f9a825", "#1565c0"],
    "seg1": "20",
    "seg2": "50",
    "x": 690,
    "y": 100,
    "wires": []
  },
  {
    "id": "text_bomba",
    "type": "ui_text",
    "z": "tab_aquajardim",
    "group": "ui_group_bomba",
    "order": 1,
    "width": "6",
    "height": "2",
    "name": "Status da Bomba",
    "label": "Status da Bomba",
    "format": "{{msg.bomba}}",
    "layout": "row-center",
    "x": 680,
    "y": 160,
    "wires": []
  },
  {
    "id": "text_acionamentos",
    "type": "ui_text",
    "z": "tab_aquajardim",
    "group": "ui_group_bomba",
    "order": 2,
    "width": "3",
    "height": "2",
    "name": "Acionamentos",
    "label": "Acionamentos",
    "format": "{{msg.acionamentos}}x",
    "layout": "row-center",
    "x": 680,
    "y": 220,
    "wires": []
  },
  {
    "id": "text_disponiveis",
    "type": "ui_text",
    "z": "tab_aquajardim",
    "group": "ui_group_reservatorio",
    "order": 2,
    "width": "3",
    "height": "2",
    "name": "Litros Disponíveis",
    "label": "Disponível",
    "format": "{{msg.litrosDisponiveis}} L",
    "layout": "row-center",
    "x": 690,
    "y": 280,
    "wires": []
  },
  {
    "id": "text_gastos",
    "type": "ui_text",
    "z": "tab_aquajardim",
    "group": "ui_group_reservatorio",
    "order": 3,
    "width": "3",
    "height": "2",
    "name": "Litros Gastos",
    "label": "Total gasto",
    "format": "{{msg.litrosGastos}} L",
    "layout": "row-center",
    "x": 680,
    "y": 340,
    "wires": []
  },
  {
    "id": "text_alerta",
    "type": "ui_text",
    "z": "tab_aquajardim",
    "group": "ui_group_solo",
    "order": 2,
    "width": "6",
    "height": "2",
    "name": "Alerta",
    "label": "Status do Sistema",
    "format": "{{msg.alerta}}",
    "layout": "row-center",
    "x": 680,
    "y": 400,
    "wires": []
  },
  {
    "id": "chart_umidade",
    "type": "ui_chart",
    "z": "tab_aquajardim",
    "name": "Histórico de Umidade",
    "group": "ui_group_historico",
    "order": 1,
    "width": "12",
    "height": "5",
    "label": "Histórico de Umidade do Solo (%)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando dados...",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "5",
    "removeOlderPoints": "100",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#2e7d32"],
    "x": 690,
    "y": 460,
    "wires": []
  }
]
